<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center> 

_____

<a id='home'></a>

# Appending

<a target="_blank" href="https://colab.research.google.com/github/CienciaDeDatosEspacial/code_and_data/blob/main/Appending.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

<a id='appending'></a>

As the name implies, this process binds DFs into one, that is, one or more DFs will be put below or on top of another DF. Appending can be done when you fulfill these requisites:
1. All the DFs  share the same column names.
2. All the DFs  columns are in the same location.

Note that it is better if the columns share the same data types. But you can solve it during the formatting process.


Let's visit this website: https://fundforpeace.org/what-we-do/country-risk-and-fragility-data/

There, you will find several excel files with the _Fragile States Index_ per year. I have the files from 2013 to 2021 in a GitHub repo:

![](fragilityGit.png)

Let's read every file. For that, we will use a link to each. Let's do it step by step:

In [6]:
# link to repo - common to all files
dataRepo='https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/' 
#podemos crear un repositorio donde est√© toda la data
#creamos un link para referenciar
#se guarda ruta hacia la carpeta

In [7]:
# creating file names into a list:
years=range(2013,2022)
fileNames=['fsi-'+str(year)+'.xlsx' for year in years]
# list of file names 
fileNames 
#se crean los nombres de los archivos

['fsi-2013.xlsx',
 'fsi-2014.xlsx',
 'fsi-2015.xlsx',
 'fsi-2016.xlsx',
 'fsi-2017.xlsx',
 'fsi-2018.xlsx',
 'fsi-2019.xlsx',
 'fsi-2020.xlsx',
 'fsi-2021.xlsx']

In [8]:
# creating the url to each file:
alltheLinks=[dataRepo+fn for fn in fileNames]
alltheLinks
#se crea un link para cada DF, se almacenan en una fila

['https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2013.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2014.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2015.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2016.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2017.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2018.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2019.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2020.xlsx',
 'https://github.com/SpatialDataScience23-2/data-frames_appending/raw/main/fsi-2021.xlsx']

We will save each data frame in a list **allDFs**. We will use pandas, but we need **openpyxl** and **xlrd** (for Excel) before doing this operation:

In [10]:
# creating list of DFs
import pandas as pd

allDFs=[pd.read_excel(link) for link in alltheLinks]

In [14]:
allDFs[8] #para observar cada data frame
#recuerda que DFs se han almacenado en lista, entonces al colocar nro, invocas a esa DF de dicha posici√≥n

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,Yemen,2021,1st,111.7,9.4,10.0,9.4,9.8,7.7,6.7,9.9,9.8,9.7,9.8,9.8,9.7
1,Somalia,2021,2nd,110.9,9.3,10.0,8.3,9.2,9.5,8.8,9.2,9.8,8.7,10.0,9.2,8.9
2,Syria,2021,3rd,110.7,9.6,9.9,9.7,9.6,7.1,8.2,10.0,9.6,9.7,7.6,9.7,10.0
3,South Sudan,2021,4th,109.4,9.7,9.2,8.8,9.2,8.9,6.7,9.5,10.0,8.7,9.5,9.9,9.3
4,Congo Democratic Republic,2021,5th,108.4,8.6,9.5,9.4,8.5,8.5,6.8,9.2,9.8,9.2,9.8,10.0,9.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Denmark,2021,175th,18.8,1.7,1.4,3.7,1.7,1.2,1.3,0.5,1.4,0.9,2.3,2.2,0.5
175,New Zealand,2021,176th,18.4,1.4,1.4,2.6,3.4,2.1,1.6,0.5,1.4,0.5,1.4,1.6,0.5
176,Iceland,2021,177th,18.0,0.7,1.8,0.5,3.4,1.3,1.9,0.5,1.2,0.5,1.5,1.5,3.2
177,Norway,2021,178th,16.6,1.8,1.1,3.3,1.9,1.0,0.8,0.5,1.6,0.5,1.4,2.2,0.5
178,Finland,2021,179th,16.2,2.5,1.4,0.6,2.9,1.0,1.5,0.5,1.6,0.5,1.7,1.5,0.5

In [16]:
# saving column names
allColumnNames=[]
for df in allDFs:
    allColumnNames.append(set(df.columns))# list of sets!
    #un set es un conjunto

In [18]:
allColumnNames[0]
#te permite ver nombre de columnas
#colocas posicion de DF espec√≠fico

{'C1: Security Apparatus',
 'C2: Factionalized Elites',
 'C3: Group Grievance',
 'Country',
 'E1: Economy',
 'E2: Economic Inequality',
 'E3: Human Flight and Brain Drain',
 'P1: State Legitimacy',
 'P2: Public Services',
 'P3: Human Rights',
 'Rank',
 'S1: Demographic Pressures',
 'S2: Refugees and IDPs',
 'Total',
 'X1: External Intervention',
 'Year'}

In [19]:
# checking how many columns per df

[len(cols) for cols in allColumnNames]
#note: Df de 2019 y 2020 tienen una columnas m√°s

[16, 16, 16, 16, 16, 16, 17, 17, 16]

We have an extra column in a couple of years. 
Let's find the common columns:

In [22]:
# details of common columns
commonColumns=set.intersection(*allColumnNames) # expanding list of sets (*)
len(commonColumns),commonColumns

#esto nos ayuda a identificar tmb si es que todas esas 16 columnas son las mismas
#podr√≠an tener nombres diferentes

(16,
 {'C1: Security Apparatus',
  'C2: Factionalized Elites',
  'C3: Group Grievance',
  'Country',
  'E1: Economy',
  'E2: Economic Inequality',
  'E3: Human Flight and Brain Drain',
  'P1: State Legitimacy',
  'P2: Public Services',
  'P3: Human Rights',
  'Rank',
  'S1: Demographic Pressures',
  'S2: Refugees and IDPs',
  'Total',
  'X1: External Intervention',
  'Year'})

These are the columns not in the common names:

In [21]:
# all minus the common
set.union(*allColumnNames)-commonColumns

#This code calculates the columns that are not common among the sets
#of column names in `allColumnNames`. It does this by finding the union of all
#sets in `allColumnNames` using `set.union` and then subtracting the `commonColumns` set.

#Here's what the code does step by step:

#1. `set.union(*allColumnNames)`: This line uses the `set.union` method to find
#the union of all sets in the `allColumnNames` list. The `*` operator is used to
#unpack the list and pass its elements as separate arguments to the `set.union` method.

#2. `commonColumns`: This is the set of common columns that you calculated previously.

#3. `set.union(*allColumnNames) - commonColumns`: This line subtracts the `commonColumns`
#set from the union of all column sets. This will give you the columns that are not common among the sets.

#The result will be a set containing the columns that are not common among the sets.

{'Change from Previous Year'}

We could make a list of data frames with only the common columns:

In [27]:
# DFs with the common columns
allDFs_sameNames=[df.loc[:,list(commonColumns)] for df in allDFs]

#objetivo: para que todos los DF tengan 16 columns y tengan los = nombres

#This code creates a list of new dataframes, where each dataframe contains
#only the columns that are common among all the dataframes in the `allDFs` list.
#It does this by using a list comprehension and the `commonColumns` set to select
#the desired columns from each dataframe.

#Here's what the code does step by step:

#1. `[df.loc[:, list(commonColumns)] for df in allDFs]`: This is a list comprehension that
#iterates over each dataframe `df` in the `allDFs` list.

#2. `df.loc[:, list(commonColumns)]`: For each dataframe `df`, this line uses the `loc`
#method to select all rows (`:`) and only the columns that are present in the `commonColumns` set.
#It converts `commonColumns` to a list (`list(commonColumns)`) to ensure compatibility with the column selection.

#The result will be a list of new dataframes, where each dataframe contains only
#the columns that are common among all the dataframes in `allDFs`.

#Here's an example of what the resulting list might look like:

#```python
#[DataFrame1 with common columns,
 #DataFrame2 with common columns,
 #DataFrame3 with common columns,
 #...]
#```

#Each `DataFrameX` in the list will have the same set of common columns
#extracted from the corresponding dataframe in `allDFs`.

Appending in pandas requires a list of data frames, in these case that is **allDFs_sameNames**. Then we proceed:

In [28]:
# appending
allDFsConcat=pd.concat(allDFs_sameNames)
allDFsConcat.head()

#This code is using the pd.concat function from the Pandas library to concatenate
#DataFrames from the allDFs_sameNames list into a single DataFrame and then
#displaying the first few rows of this concatenated DataFrame.

#Here's what this code does:

#pd.concat(allDFs_sameNames): This line uses the pd.concat function
#to concatenate the DataFrames from the allDFs_sameNames list into one single DataFrame.
#This function combines the DataFrames along the rows (i.e., it appends the rows of the DataFrames one after another).

#allDFsConcat.head(): After merging the DataFrames, the head() method
#is applied to the concatenated DataFrame allDFsConcat to display the first few rows of this DataFrame.
#This is a common operation to inspect the data in the DataFrame.

,P2: Public Services,C1: Security Apparatus,C2: Factionalized Elites,S1: Demographic Pressures,P3: Human Rights,E2: Economic Inequality,Country,Rank,C3: Group Grievance,X1: External Intervention,E1: Economy,P1: State Legitimacy,E3: Human Flight and Brain Drain,Total,S2: Refugees and IDPs,Year
0,9.8,9.7,10.0,9.5,10.0,8.4,Somalia,1st,9.3,9.4,9.4,9.5,8.9,113.9,10.0,2013-01-01 00:00:00
1,9.5,10.0,9.5,10.0,9.8,8.8,Congo Democratic Republic,2nd,9.4,9.7,8.5,9.6,7.1,111.9,10.0,2013-01-01 00:00:00
2,8.8,9.8,10.0,8.8,9.3,8.5,Sudan,3rd,10.0,10.0,7.8,9.6,8.4,111.0,10.0,2013-01-01 00:00:00
3,9.8,9.6,9.8,8.9,9.3,8.9,South Sudan,4th,10.0,10.0,8.6,9.1,6.5,110.6,10.0,2013-01-01 00:00:00
4,9.9,9.4,9.5,9.5,9.8,8.9,Chad,5th,8.8,7.9,8.0,9.7,8.0,109.0,9.7,2013-01-01 00:00:00

We could pay attention to the current data types:

In [ ]:
allDFsConcat.info()

The columns] **Year** was expected to be a numeric type, but we got an _object_ instead. Let's explore that column:

In [ ]:
# exploring year column as frequency table
allDFsConcat.Year.value_counts()

Except for the year 2021, the other values are in date-time format. We just need an integer number, then:

In [ ]:
# keeping just the year value
yearAsNumber=[]
for y in allDFsConcat.Year:
    try:
        yearAsNumber.append(y.year)# the value from a date-time format
    except:
        yearAsNumber.append(y) # if not a datetime

#verifying
pd.Series(yearAsNumber).value_counts()

In [ ]:
# overwriting the year column
allDFsConcat.Year=yearAsNumber

You may have notice that the column ordering does not look appropriate. In general you expect that the columns to the left start with identification of the rows rather than some measurements. Let's move 'Country','Year','Total' to the left:

In [ ]:
# this is a trick: setting columns as index
allDFsConcat.set_index(['Country','Year','Total'],inplace=True)
allDFsConcat.head()

Since I will not use _Rank_, I will get rid of it:

In [ ]:
# dropping unneeded column
allDFsConcat.drop(columns='Rank',inplace=True)

Let's order the current column names:

In [ ]:
# ordering column names alphabetically
allDFsConcat.sort_index(axis=1,inplace=True) # by row index will be axis=0

Now put the row indexes back:

In [ ]:
# indexes will be columns
allDFsConcat.reset_index(inplace=True)

Let's do some cleaning on the column names:

In [ ]:
# see column names
allDFsConcat.columns.to_list()

In [ ]:
# clean column names
allDFsConcat.columns=allDFsConcat.columns.str.replace(':\s',"_",regex=True)
allDFsConcat.columns=allDFsConcat.columns.str.replace('\s',"",regex=True)
#see
allDFsConcat.columns.to_list()

Let's set the country names into upper case:

In [ ]:
# overwriting country
allDFsConcat.Country=allDFsConcat.Country.str.upper()

Finally, let's check the format:

In [ ]:
allDFsConcat.info()

We should save this result:

In [ ]:
import os

allDFsConcat.to_csv(os.path.join("data","Fragility.csv"),index=False)